li {
    list-style: none;

}

img {
    width: 100%;
    max-width: none;
}

.top-link {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: #0bdd;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.top-link:hover {
    background-color: #0056b3;
}

.header {

    background-color: white;
    color: black;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* 他の要素よりも前面に表示するために高いz-index値を設定 */
    /* 必要に応じて他のスタイル（背景色、パディングなど）を追加 */

}

.head-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.left,
.center,
.right {
    flex: 1;
}

.center {
    display: flex;
    justify-content: center;
}

.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    display: flex;
    justify-content: flex-end;
}

/* その他のスタイルは同じ */

.hamburger span {
    display: block;
    height: 2px;
    /* ハンバーガーボタンの線の高さ */
    background-color: #333;
    /* 線の色 */
    margin: 5px 0;
    /* 線と線の間隔 */
}

.title,
.wrapper-item2 {
    margin: 0 10px;
    /* タイトルとお問い合わせリンクの両端にマージンを追加 */
}

header {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    z-index: 1000;
    border: 2px solid #000;
    /* ヘッダーの外枠を追加 */
    background-color: #3399FF;
    /* 背景色を指定 */
    color: black;
    /* 文字の色を指定 */


}

header nav {
    width: 100%;
    display: flex;
    justify-content: center;
    /* 中央寄せ */
    align-items: center;
    /* アイテムを垂直方向の中央に配置 */

}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    /* 必要に応じて調整 */
}

nav a:hover {
    color: white;
    /* ホバー時の背景色 */
}

nav li {
    position: relative;
    /* 線を追加するため */
    display: inline-block;
    font-weight: bold;
}

nav li:not(:first-child)::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    /* 縦線の上部を途切れさせる */
    bottom: 25%;
    /* 縦線の下部を途切れさせる */
    width: 1px;
    background-color: #000;
    /* 線の色 */
}

nav a {
    text-decoration: none;
    color: #333;
    /* リンクの色、必要に応じて調整 */
    padding: 0 15px;
    /* リンクの間隔、必要に応じて調整 */
    transition: 0.2s;
}

header nav ul {
    display: flex;
    list-style: none;
    /* リストマーカーを非表示に */
    padding: 0;
    /* デフォルトのパディングを削除 */
    margin: 0;
    /* デフォルトのマージンを削除 */
}

header nav ul li {
    margin: 0 20px;
    /* アイテム間の等間隔を調整 */
}

header nav ul li a {
    text-decoration: none;
    /* アンダーラインを非表示に */
    color: #333;
    /* テキスト色、必要に応じて調整してください */
    font-size: 16px;
    /* フォントサイズ、必要に応じて調整してください */
}






.title {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.wrapper-item2 {
    float: right;
}



.item {
    color: black;

}


.main {
    background-color: white;
    height: 9000px;
    margin-top: 50px;
}







.top-wrapper {
    background-size: cover;
    width: 100%;
}

.centered-image1 {
    background-size: cover;
    position: relative;
}

.top-wrapper img {
    position: relative;
    left: 30%;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.top-wrapper h1 {
    position: absolute;
    top: 30%;
    right: 65%;
    font-size: 5vw;
    color: black;
   
}

.top-wrapper span {
    display: block;
    text-align: center;
}

.top-wrapper p {
    position: absolute;
    top: 60%;
    left: 4.5%;
    font-size: 1.5vw;
    color: black;
}



.box {
    border: 3px solid#000;
    padding: 10px;
    margin: 0 450px;
}

h2 {
    position: relative;
    color: #333;
    text-shadow: 0 0 2px white;
    z-index: 0;
    font-size: 37px;
}

h2:before {
    content: "";
    position: absolute;
    background: #66FFFF;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    top: 50%;
    /* border: dashed 1px white; */
    left: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}



.main-logo1 {
    height: 1200px;
    background-color: white;
    color: black;

}

.centered-image {
    text-align: center;
    /* コンテナのテキスト揃えを中央に */
}

.container4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
}

.question-button {
    background-color: #0bdd;
    /* ボタンの背景色 */
    color: black;
    /* ボタンのテキスト色 */
    border: solid 3px black;
    /* ボーダーをなしにする */
    padding: 10px 20px;
    /* パディング */
    border-radius: 10px;
    /* 角丸 */
    cursor: pointer;
    /* カーソルをポインターにする */
    width: 450px;
    font-size: 50px;
}

.question-button:hover {
    background-color: #0056b3;
    /* ホバー時の背景色 */
}

.main-logo2 {
    background-color: gray;
    background-image: url(https://lh3.googleusercontent.com/pw/AP1GczNNF_OvLeYEi183Rpq4mvqHeQnGyOSenM0BDz_v3hEalPp3AdE-u_L7cAPWxuRKXW-MR0xSFdIbPQ2IFq9Y7Ix_psqzDkBBtoILqEy9gnt6X7ryyVyOU7Kv01kuCi_7HU_N63eb0bSrF7Pxc7xkXvT5jw=w1366-h974-s-no-gm?authuser=0);
    background-size: cover;
    height: 600px;
    color: black;
}

.main-logo2 span {
    color: red;
    font-size: 50px;
}

.main-logo3 {
    background-color: gray;
    height: 400px;
    color: black;
}

.box1 {
    border: 2px solid#000;
    padding: 90px 90px;
    margin: 0 10px;
    height: 50px;
    text-align: center;
}

.sample-image {
    display: flex;
}

.main-logo4 {
    height: 2500px;
    background-color: white;
    color: black;
}

.main-logo4 p {
    font-size: 20px;
}

.table1 {
    color: black;
    border: 3px solid black;
    text-align: center;
    border-collapse: collapse;
    width: 1000px;
}

.table1 th,
.table1 td {
    border: 3px solid black;
}

.table1 th {
    padding: 20px 10px;
}

.table1 td {
    padding: 40px 10px;
}

.main-logo4 p span {
    color: red;
}

.table2 {
    color: black;
    border: 3px solid black;
    text-align: center;
    border-collapse: collapse;
    width: 1000px;
}

.table2 th,
.table2 td {
    border: 3px dashed black;
}

.table2 td {
    padding: 300px 10px;
}

.table2 th {
    padding: 20px 10px;
}

.container5 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.mail-box {
    background-color: #0bdd;
    /* ボタンの背景色 */
    color: black;
    /* ボタンのテキスト色 */
    border: solid 3px black;
    /* ボーダーをなしにする */
    padding: 10px 20px;
    /* パディング */
    border-radius: 10px;
    /* 角丸 */
    cursor: pointer;
    /* カーソルをポインターにする */
    width: 450px;
    font-size: 30px;
}

.mail-box:hover {
    background-color: #0056b3;
    /* ホバー時の背景色 */
}



.main-logo5 {
    background-color: gray;
    color: black;
}

.container6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: black;
    /*文字色*/
    background: white;
    border: solid 3px black;
    /*線*/
    border-radius: 15px;
    /*角の丸み*/
    text-align: center;
    width: 400px;
    font-size: 25px;
}

.box4 p {
    margin: 0;
    padding: 0;
}

/**********　赤矢印　**********/
.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
    border-top: 60px solid #e01010;
    border-bottom: 0;
    margin: 0 auto;
}

.item1 {
    font-size: 50px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container7 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    height: 300px;
}

.subscription {
    background-color: #0bdd;
    /* ボタンの背景色 */
    color: black;
    /* ボタンのテキスト色 */
    border: solid 3px black;
    /* ボーダーをなしにする */
    padding: 10px 20px;
    /* パディング */
    border-radius: 10px;
    /* 角丸 */
    cursor: pointer;
    /* カーソルをポインターにする */
    width: 430px;
    font-size: 30px;
}

.subscription:hover {
    background-color: #0056b3;
    /* ホバー時の背景色 */
}

.main-logo6 {
    height: 1200px;
    background-color: white;
    color: black;
}

.container8 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.question1 {
    background-color: #0bdd;
    /* ボタンの背景色 */
    color: black;
    /* ボタンのテキスト色 */
    border: solid 3px black;
    /* ボーダーをなしにする */
    padding: 10px 20px;
    /* パディング */
    border-radius: 10px;
    /* 角丸 */
    cursor: pointer;
    /* カーソルをポインターにする */
    width: 430px;
    font-size: 30px;
}

.question1:hover {
    background-color: #0056b3;
    /* ホバー時の背景色 */

}


.question {
    border: 2px solid#000;
    padding: 20px 300px 20px 10px;
    background-color: gray;
}

.question span {
    color: red;

    font-size: 30px;
}

.answer span {
    color: red;
    font-size: 30px;
}

.box3 {
    border: 4px solid yellow;
    padding: 10px;
    margin: 0 580px;
}

.footer {
    color: white;
    background-color: gray;
    height: 200px;
    display: flex;
}

.footer p {
    font-size: 2vw;
}

.footer li {
    font-size: 1.5vw;
}

.container1 {
    padding-left: 50px;
}

.container2 {
    padding-left: 80px;
}

.container3 {
    padding-left: 110px;
}